.bilden {
    width: 720px;
    height: 405px;
    }
 body {
	position:fixed;
      background:navy;
      font-family:"avenir", "futura";
      }
      .rutainsida {
      z-index: 5;
      position: static;
      margin-top: 4%;
      margin-bottom: 6%;
      margin-left: 7%;
      margin-right: 7%;
      width: 86%;
      height: 88%;
      background: white;
      }
      .FW-titel {
       color:springgreen;
    font-family: "avenir", "futura";
    font-size: 2.6em;
    font-weight: 900;
    position: relative;
    z-index: 24;
    margin-top: 0%;
    margin-bottom: 0px;
}
      }
      footer .afooter{
      position:fixed;
	margin-top:10%;
      }
      address a {
           text-decoration: none;
    font-family: "avenir", "futura";
    color: white;
    z-index: 25;
    font-size: 0.8em;
    position: relative;
    text-align: center;
      }
      
      .filmer {
    width: 200px;
    float: right;
    margin-top: -450px;
    position: absolute;
    margin-left: 900px;
    z-index: 20;
}

.filmer a {
     background-color: none;
    color:orange;
    padding-bottom: 3%;
    font-size: 1em;
    display: block;
    font-weight: lighter;
    font-family: "avenir", "futura";
    text-decoration: none;
}

.filmer a:hover {
  text-decoration:underline;
}
      
.videon {
width:405px;
}
      /* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: navy;
    font-size: 1em;
    color: chartreuse;
    cursor: pointer;
    padding-top: 10px;
    width: 700px;
    text-align: center;
    border: none;
    margin-bottom: 35%;
    outline: none;
    transition: 0.4s;
    font-family: "avenir", "futura";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color:navy;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
 color: powderblue;
    font-size: 16px;
    background-color: navy;
    display: none;
    overflow: hidden;
    width: 700px;
    float: left;
    margin-top: -40%;
    z-index: 20;
    position: absolute;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
 .accordion:after {
  content:"\02C7";
  font-size: 2em;
  color: powderblue;
   text-align:center;
}

.active:after {
  content:"\02C6"; 
}
